@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* 
    margin 0
    padding 0
    list-style none
    box-sizing border-box
    font-family: 'Noto Serif TC', serif;

    .border
        border: 5px solid;

    .del 
        text-decoration: line-through;

    header
        box-sizing border-box
        padding 5vmin 2vmin
        padding-bottom 1vmin

    #app
        background-image: linear-gradient(to right, #434343 0%, black 100%);
        min-height 100vh

        .list-group
            border 1px solid #000

            .list-group-item
                border 1px solid #ccc
                button
                    text-align center
                    border-radius 50%
                    height 28px
                    width 28px
                    font-size 14px
                    background-image: linear-gradient(to right, #434343 0%, black 100%);
                    border 1px solid #fff

        .inputData .input-group
            input
                background-color #ffffff
                border none
                border-radius 20px 0 0 20px
            .plus
                background-color #ffffff
                color red
                border none
                border-radius: 0 20px 20px 0;
        
        .button-group
            display flex
            flex-direction row
            flex-wrap wrap
            justify-content space-around

