<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap" rel="stylesheet">
    <style>
        * {
            box-sizing: border-box;
            font-family: 'Roboto', cursive;
        }

        .border {
            border: 5px solid;
        }

        .del {
            text-decoration: line-through;
        }
    </style>
</head>

<body>
    <div id="app">
        <input type="text" :class="styleClass" v-model="newitem" @keydown.enter="add" :style="{borderColor}">
        <input type="button" value="新增" @click="add">
        <hr>
        <input type="button" value="顯示全部" @click="filter = 'allFilter'">
        <input type="button" value="已完成"   @click="filter = 'complet'">
        <input type="button" value="未完成"   @click="filter = 'uncomplet'">
        <hr>
        <input type="button" value="刪除全部"   @click="del('allFilter')">
        <input type="button" value="刪除完成"   @click="del('complet')">
        <input type="button" value="刪除未完成" @click="del('uncomplet')">
        <hr>
        <input type="button" value="標記全部已完成" @click="done(true)">
        <input type="button" value="標記全部未完成" @click="done(false)">
        <hr>
        <p> {{ filter }} 共有 {{ filteredItems.length }}</p>
        <ul>
        <hr>
            <li v-for="(item, index) in filteredItems">
                <input @change="toggle(item)" :checked="item.done" type="checkbox">
                <span v-if="!item.edit" :class="{del: item.done === true}" @dblclick="edit(item)">{{item.times}} : {{item.text}}</span>
                <span v-if="item.edit">{{item.times}} : </span>
                <input type="text" v-if="item.edit" v-model="item.model" @keydown.enter="editFinish(item)"
                    @keydown.esc="editCancel(item)">
                    <button @click = "dele(index)"> X </button>
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script>
        ;{
        let Gettime = moment().valueOf();
        let Normalizetime = moment(Gettime).format('YYYY-MM-DD');
        new Vue({
            el: '#app',
            name: 'app',
            data: {
                newitem: '',
                items: [],
                styleClass: {
                    border: true
                },
                time: Normalizetime,
                filter: 'allFilter'
            },
            methods: {
                add() {
                    if (this.newitem.length >= 2 && this.newitem.length < 20) {
                        this.items.push({
                            done: false,
                            text: this.newitem,
                            edit: false,
                            times: this.time,
                            model: this.newitem
                        })
                        console.log(this.newitem)
                        this.newitem = ''
                    } else {
                        console.log(this.newitem)
                        alert('字數需20字以內')
                        this.newitem = ''
                    }
                },
                toggle(item) {
                    item.done = !item.done
                },
                dele(index) {
                    this.items.splice(index, 1)
                },
                edit(item) {
                    item.edit = true
                },
                editFinish(item) {
                    item.edit = false
                    item.text = item.model
                },
                editCancel(item) {
                    item.edit = false
                    item.text = item.text
                },
                del(filter) {
                    switch (filter) {
                        case 'allFilter':
                            this.items = []
                            break
                        case 'uncomplet':
                            this.items = this.items.filter(item => {
                                return item.done === true
                            })
                            break
                        case 'complet':
                            this.items = this.items.filter(item => {
                                return item.done === false
                            })
                            break
                    }
                },
                done(data){
                    for(let item of this.items){
                        item.done = data
                    }
                }
            },
            computed: {
                borderColor() {
                    let length = this.newitem.length 
                    // if(length == 0) return 'black'
                    // else if (length >= 2 && length < 20) return 'green'
                    // else return 'red'
                    return (length == 0) ? 'black' : (length >= 2 && length < 20) ? 'green' : 'red'
                },
                filteredItems() {
                    switch (this.filter) {
                        case 'allFilter':
                            return this.items
                            break
                        case 'complet':
                            return this.items.filter(item => {
                                return item.done === true
                            })
                            break
                        case 'uncomplet':
                            return this.items.filter(item => {
                                return item.done === false
                            })
                            break
                    }
                },
            },
            watch: {
                newitem(newValue, oldValue) {
                    console.log(newValue)
                },
                items: {
                    deep: true,
                    handler(newValue, oldValue) {
                        localStorage.setItem('todo', JSON.stringify(this.items))
                    }
                }
            },
            mounted() {
                const data = JSON.parse(localStorage.getItem('todo'))
                if (data !== null || data !== '') {
                    this.items = data
                }
            }

        })
    }
    </script>
</body>

</html>